.dashboard {
  background-image: linear-gradient(
    to right,
    rgb(255, 244, 90),
    rgb(236, 234, 219)
  );
  align-items: center;
  position: absolute;
  bottom: 0px;
  top: 40px;
  right: 0px;
  left: 0px;
  margin: 0px 20px 20px 20px;
  border: 2px solid black;
}

.trip-icon {
  display: flex;
  justify-content: center;
  font-size: 100px;
}
